<!DOCTYPE html>
<html>
  <head>
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body>
    <%- include('navbar.ejs') %>
    <main class="container-md">
        <div class="card newpostcard">
            <div class="card-body">
                <h1 style="text-align: center;">編輯文章</h1>
                <br>
                <form method="post">
                    <div class="row">
                        <div class="col-2">
                            <h3 style="text-align: center;">標題:</h3>
                        </div>
                        <div class="col-8">
                            <input class="form-control" name="title" value="<%=post.title%>">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-2">
                            <h3 style="text-align: center;">內文:</h3>
                        </div>
                        <div class="col-8">
                            <textarea rows="7"  class="form-control" name="body"><%=post.body%></textarea>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-2">
                            <h3 style="text-align: center;">圖片:</h3>
                        </div>
                        <div class="col-8">
                        <div class="input-group mb-3">
                            <input onchange="getBase64(document.getElementById('img').files[0])"  type="file" class="form-control" id="img" accept="image/*">
                            <input type="hidden" id="fileb64" name="image" value="<%=post.image%>">
                        </div>
                    </div>
                    </div>
                    <center>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <input type="checkbox" class="form-check-input" id="exampleCheck2" required>
                            <label class="form-check-label" for="exampleCheck2">我不是機器人</label>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">發布</button>
                    </center>
                </form>
            </div>
        </div>
    </main>
  </body>
  <script>
      function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                document.getElementById('fileb64').value = reader.result;
            };
        }
  </script>
</html>