<script src="https://cdn.tailwindcss.com"></script>

<nav class="h-12 z-50 fixed w-full" style="background-color: rgb(12, 10, 102);">
  <div class="pt-1 px-2">
    <a class="text-yellow-200 text-2xl fixed top-2" href="/">留言板(?</a>
    <% if(username===''){ %>
    <button class="bg-green-800 text-xl text-white py-1 px-4 rounded fixed top-2 right-24" onclick="location.href='/login'">登入</button>
    <button class="bg-green-800 text-xl text-white py-1 px-4 rounded fixed top-2 right-2" onclick="location.href='/register'">註冊</button>
    <% }else{ %>
    <span class="text-yellow-200 text-2xl fixed top-2 right-52" href="/" hidden>早安, <%= username %> </span>
    <button class="bg-green-800 text-xl text-white py-1 px-4 rounded fixed top-2 mx-1 right-20" onclick="location.href='/new'" >新文章</button>
    <button class="bg-red-800 text-xl text-white py-1 px-4 rounded fixed top-2 right-2" onclick="location.href='/logout'">登出</button>
    <% } %>
  </div>
</nav>

<div class="fixed bg-gray-300 text-lg w-full -bottom-0 h-7 z-50 flex">
  <span class="ml-8 px-3 text-yellow-300 bg-purple-500 w-44 flex"><span class="m-auto" id="time"></span></span>
  <span class="bg-green-800 px-3 text-white flex-initial"><% if(username!==''){ %>早安, <%= username %> <% }else{ %> 未登入 <% } %></span>
  <span class="flex-1 mx-5">
    <input class="w-full" id="comment" <% if(username===''){ %>disabled<% }%> >
  </span>
  <span class="flex-initial w-20">
    <button class="px-2 bg-red-500 text-white" onclick="newcomment()" <% if(username===''){ %>hidden<% }%>>推</button>
  </span>
</div>

<script>
  let time=document.getElementById('time');
  setInterval(()=>{
    let now=new Date();
    time.innerText=`[${now.getMonth()}/${now.getDate()} ${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}]`;
  },500);

  async function newcomment(){
    let comment=document.getElementById('comment');
    let id=location.href.split('/');
    id=id[id.length-1];
    await fetch(`/comment/${id}/new`,{
            headers: {'Content-Type':'application/x-www-form-urlencoded'}, 
            body: `body=${comment.value}`,
            method:'POST'
        });
    location.reload();
  }

</script>



