<!DOCTYPE html>
<html>
  <head>
    <title>留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body class="bg-black" style="font-family:'細明體';">
    <%- include('navbar.ejs') %>
    <div class="relative top-12 px-24 py-12">
      <form method="post">
        <div class="flex">
          <div class="text-2xl text-white w-20 flex-initial">標題:</div>
          <input class="bg-gray-300 text-2xl flex-1 mr-10" name="title" required></ipnut>
        </div>
        <br>
        <div class="flex">
          <div class="text-2xl text-white w-20 flex-initial">內文:</div>
          <textarea class="bg-gray-300 text-2xl flex-1 mr-10" name="body" rows="8"></textarea>
        </div>
        <br>
        <div class="flex">
          <div class="flex-1"></div>
          <div class="m-auto">
            <button class="bg-white text-black px-2 py-1" required>建立文章</button>
          </div>
          <div class="flex-1"></div>
        </div>
      </form>
    </div>
  </body>
  <script>
      
  </script>
</html>